.profile__description {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  max-width: 282px;
  text-align: center;
  margin: 0 auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .profile__description {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    text-align: left;
  }
}
