.popup__window {
  position: relative;
  width: 282px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .popup__window {
    width: 430px;
  }
}
