.popup__form {
  margin-top: 75px;
  margin-left: 22px;
  width: 238px;
}

@media screen and (min-width: 1024px) {
  .popup__form {
    margin-top: 54px;
    margin-left: 36px;
    width: 358px;
  }
}
